
.rese{
   width: 100%;
  margin: 30px auto;
  padding: 50px;
  background-color: #FFA07A;
  color: #fff;
  

}
.red{
  margin: 10px;
  font-family: 'Lobster', cursive;
  color: black;
  text-align: center;
}
.subti{
  margin: 10px;
  text-align: center;
  max-width: 700px;
  margin-right: 200px;
  margin-left: 300px;
 margin-bottom: 10px;
}
.sull{
   margin: 10px;
  text-align: center;
  max-width: 700px;
  margin-right: 200px;
  margin-left: 300px;
 margin-bottom: 10px;
}
.separa{
  margin: 50px auto;
}


.logo{

  margin-left: 20px;
  float: left;
}
.titul{
  text-align: left;
  
  margin: 10px;
  margin-right: 80px;
  font-family: 'Lobster', cursive;
}
.tet{
  margin:10px;
  margin-left: 5px;
  margin-right: 5px;
}
.haha{

  font-family: 'Lobster', cursive;
  text-align: center;
  margin: 60px;
}
.parrafo{
  margin: 10px;
  text-align: center;
  max-width: 8000px;
  margin-right: 200px;
  margin-left: 150px;
 margin-bottom: 80px;
}


.carousel {
    position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;

  
}

 /* BLOG CON IMG*/ 
div.noticia {
  width: 100%;
  margin: 50px auto;
  background-color: #F7A4A4;
  color: #fff;
  padding: 50px;
}

div.noticia img.izquierda {
  width: 40%;
  float: left;
  margin-right: 15px;
}

div.noticia img.derecha {
  width: 40%;
  float: right;
  margin-width: 15px;
}

div.reset {
  clear: both;
}
.salon{
  color: black;
   text-align: center;
   font-family: 'Lobster', cursive;
   margin-top: 120px;
}
.fabio{
  color: black;
  margin: 20px;
  max-width: 380px;
  margin-left: 120px;
}
.fabioo{
  text-align: center;
  color: black;
  margin-top: 20px;
  max-width: 420px;
  margin-left: 550px;
  max-height: ;
  
}












 
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 350px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 350px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);

  }
}
.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 350px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(img/lock.png);
}
.card:nth-child(2):before {
  background-image: url(https://i.pinimg.com/originals/a7/55/4f/a7554f197e313d046244b43c5c2d546c.jpg);
}
.card:nth-child(3):before {
  background-image: url(https://ysique.com/wp-content/uploads/2019/07/3-12.jpg);
}
.card:nth-child(4):before {
  background-image: url(https://sp-ao.shortpixel.ai/client/to_auto,q_glossy,ret_img,w_480,h_480/https://orgasmi.es/wp-content/uploads/2021/10/8184b87e4092ecbf855a2592de9d5bb8-480x480.jpg);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}




 /*PIE DE PAGINA */ 

.footer-dark {
  padding:50px 0;
  color:black;
  background-color:#282d32;
  margin-top: auto;
  padding-bottom: 3am;
  min-height: 10vh;
  height: 34vh;
  display: flex;
  flex-direction: column;
  min-height: 100hv;
  
}

.footer-dark h3 {
  color: black;
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:black;
  text-decoration:none;
  opacity:
}

.footer-dark ul a:hover {
  
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}





